@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-primary : #DB940A;
  
	--text-primary : #464441;
  --text-secondary : #777777;
  --text-tetiary : #818181;

  --bg-primary : #F4F4F4;
  --bg-secondary : #EBEBEB;
  --bg-tetiary : #D0D0D0;
  --bg-quantinary : #1C1C1E;
  --bg-alt1 : #2C2C2C;
  --bg-alt2 : #737373;

  --bg-transparent-primary : #46444108;

  --border-primary : #EBEBEB
}

body {
  background-image: url(../assets/dev/bg.jpg);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background: #5b5b5b00;
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-tetiary);
  border-radius: 100px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
